{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }}
  {% if SITESUBTITLE %}
   | {{ SITESUBTITLE }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row equal content-row">
    <div class="col-lg-6">
      <div class="content-block">
          <h4>Board Members</h4>
          <dl>
            <dt>Adam Cook</dt>
            <dd>Chair</dd>
            <dt>John Cook</dt>
            <dd>Chair-Elect</dd>
            <dt>Tom Gaddini</dt>
            <dd>Treasurer</dd>
            <dt>Debbie Blades</dt>
            <dd>Secretary</dd>
          </dl>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="content-block">
        <h4>Contact Us</h4>
        <p>Have a question? Complaint? General feedback? Perhaps you want to suggest a future event topic?</p>
        <p>
          <a class="btn btn-secondary" href="https://goo.gl/forms/jj0Ezt6uBlnayleO2" role="button" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Let us know</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row equal content-row">
    <div class="col-lg-6">
      <div class="content-block">
        <h4>Social</h4>
        <p>We post all of our events and other chapter information on our Facebook and LinkedIn social media pages. For all event source code and slide decks, check out our GitHub organization. Like and follow us to always stay up-to-date!</p>
        <p>
            <a class="btn btn-secondary" href="https://www.facebook.com/sme112/" role="button" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
        </p>
        <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/company/sme112/" role="button" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
        </p>
        <p>
            <a class="btn btn-secondary" href="https://www.github.com/sme112/" role="button" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i>GitHub</a>
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="content-block">
          <h4>Virtual Community</h4>
          <p>We are a founding member of the SME Virtual Community. This allows us to host value-added, online events wherever you are.</p>
          <p>
              <a class="btn btn-secondary" href="https://www.linkedin.com/company/smevirtual/" role="button" target="_blank"><i class="fa fa-arrow-right" aria-hidden="true"></i>Check it out</a>
          </p>
      </div>
    </div>
  </div>
{% endblock %}
