::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3.5rem;
}

a {
  color: #3371e3
}

a:hover,
a:focus {
  color: #3371e3;
  text-decoration: none;
}

/* Navbar. */

.navbar-bg-dark {
  background-color: #303030;
}

/* --------------------------------------- */

/* Header and footer. */

.header a {
  color: #ffffff;
}

.footer {
  margin-top: 1.5rem;
}

/* --------------------------------------- */

/* Main container. */

.main-container {
  margin-top: 1.5rem;
}

.main-container .row + .row {
  margin-top: 1.5rem;
}

@media (max-width: 992px) {
  .main-container {
    margin-top: 0;
  }

  .main-container .row + .row {
    margin-top: 0;
  }

  .main-container .row > div {
    margin-top: 1.5rem;
  }
}

/* --------------------------------------- */

/* Content row and block. */

.content-block {
  background-color: #f7f7f7;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
}

.content-block .btn,
.content-block .btn:focus,
.content-block .btn:active,
.content-block .btn-secondary,
.content-block .btn-secondary:focus,
.content-block .btn-secondary:active {
  background-color: #3371e3;
  border-radius: 0;
  border-color: #3371e3;
  color: #ffffff;
  min-width: 150px;
  box-shadow: none;
}

.content-block .btn-secondary:not([disabled]):not(.disabled).active,
.content-block .btn-secondary:not([disabled]):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #3371e3;
  border-color: #3371e3;
  color: #ffffff;
  box-shadow: none;
}

.content-block .btn .fa {
  padding-right: .5rem;
}

/* --------------------------------------- */

blockquote {
  color: #818a91;
  font-style: italic;
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}
